extends layout
style.
  h1{font-size: 19px; color: '#00a86b';}
block content
  if authorised
 
  
       if typeof users != 'undefined'
         h1 Hey #{fname} You have done successfully!!
     
                 <br/>
          a(href="/exit") Log Out <br/></a>
          p
          h1 Congratulations!!! and Happy Hands-on!!!   
    






      